<div class="layout-wrapper">
  
  <!-- Header -->
  <header class="layout-header">

    <nav class="navigation-header">
      <ul class="navigation-header-list">
        <li class="navigation-header-item">
          <a class="navigation-header-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="navigation-header-item">
          <a class="navigation-header-link" routerLink="/about-us" routerLinkActive="active">About Us</a>
        </li>
        <li class="navigation-header-item">
          <a class="navigation-header-link" routerLink="/products" routerLinkActive="active">Products</a>
        </li>
        <li class="navigation-header-item">
          <a class="navigation-header-link" routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
        </li>
      </ul>
    </nav>
    
  </header>
  <!-- Header End -->

  <!-- Content -->
  <main class="layout-content">
    <router-outlet></router-outlet>
  </main>
  <!-- Content End -->

  <!-- Footer -->
  <footer class="layout-footer">

    <nav class="navigation-footer">
      <ul class="navigation-footer-list">
        <li class="navigation-footer-item">
          <a class="navigation-footer-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="navigation-footer-item">
          <a class="navigation-footer-link" routerLink="/about-us" routerLinkActive="active">About Us</a>
        </li>
        <li class="navigation-footer-item">
          <a class="navigation-footer-link" routerLink="/products" routerLinkActive="active">Products</a>
        </li>
        <li class="navigation-footer-item">
          <a class="navigation-footer-link" routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
        </li>
      </ul>
    </nav>

  </footer>
  <!-- Footer End -->

</div>
