<div class="layout">
  
  <!-- Header -->
  <header class="layout-header">
    <div class="layout-wrapper">
      
      <navigation></navigation>
    
    </div>
  </header>
  <!-- Header End -->

  <!-- Content -->
  <main class="layout-content">
    <div class="layout-wrapper">
      <router-outlet></router-outlet>
    </div>
  </main>
  <!-- Content End -->

  <!-- Footer -->
  <footer class="layout-footer">
    <div class="layout-wrapper">

      <nav class="navigation-footer">
        <ul class="navigation-footer-list">
          <li class="navigation-footer-item">
            <a class="navigation-footer-link" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="navigation-footer-item">
            <a class="navigation-footer-link" routerLink="/about-us" routerLinkActive="active">About Us</a>
          </li>
          <li class="navigation-footer-item">
            <a class="navigation-footer-link" routerLink="/products" routerLinkActive="active">Products</a>
          </li>
          <li class="navigation-footer-item">
            <a class="navigation-footer-link" routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
          </li>
        </ul>
      </nav>

    </div>
  </footer>
  <!-- Footer End -->

</div>
