<nav class="navigation-header">
  <ul class="navigation-header-list">
    <li class="navigation-header-item">
      <a class="navigation-header-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="navigation-header-item">
      <a class="navigation-header-link" routerLink="/about-us" routerLinkActive="active">About Us</a>
    </li>
    <li class="navigation-header-item">
      <a class="navigation-header-link" routerLink="/products" routerLinkActive="active">Products</a>
    </li>
    <li class="navigation-header-item">
      <a class="navigation-header-link" routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
    </li>
  </ul>
</nav>